@use "./partials";
.app {
    min-height: 100vh;
    color: blue;
    @include partials.flex(column, flex-start, center);
    .carrier {
        flex-grow: 1;
        @include partials.flex(row, space-between, flex-start);
        @include partials.setFrame(100%, 100%);
    }
}