@use './partials';
.cows {
    display: flex;
    flex-wrap: wrap;
    .redcows {
        background-image: url('../Assets/cow/cow.png');
    }
    .blackcows {
        background-image: url('../Assets/cow/light-cow.png');
    }
    div {
        // width: 20px;
        // height: 20px;
        @include partials.setFrame(1.2em,
        1.2em);
        border-radius: 50%;
        background-size: cover;
    }
}

.active {
    border: 2px solid blue;
    box-sizing: border-box;
    box-shadow: 1px 0px 1px blue;
}