@use './partials';
.vert {
    transform: skewX(-45deg);
}

.vert-2 {
    transform: skewY(-45deg);
}

.vert-3 {
    transform: skewX(45deg);
}

.selectedCow {
    stroke: blue;
    stroke-width: 2;
}