@use "./partials";
.header {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-bottom: 1px solid goldenrod;
    @include partials.setFrame(100%, initial);
    box-shadow: 0px 0px 0.1px black;
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 0;
    @include partials.flex(row, space-between, center);
    .menu-icon {
        width: 50px;
        height: 50px;
    }
    h1 {
        margin: 0;
    }
}

.dark {
    .header {
        background: rgb(2, 0, 36);
        background: radial-gradient( circle, rgba(2, 0, 36, 1) 0%, rgba(5, 19, 31, 1) 46%, rgba(5, 16, 32, 1) 100%, rgba(4, 40, 75, 1) 100%, rgba(5, 59, 93, 1) 100%, rgba(0, 212, 255, 1) 100%);
    }
    .menu-icon {
        path {
            stroke: white;
        }
    }
}

.onSwitch {
    path {
        stroke-width: 5;
    }
    .cross-hairs {
        visibility: visible;
        animation: show 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
}

.offSwitch {
    .cross-hairs {
        visibility: hidden;
        animation: hide 0.5 cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}