@use "./partials";
div.nav-wrapper {
    display: none;
    @include partials.setFrame(100%, fit-content);
    nav {
        @include partials.position(sticky, 51px, initial);
        @include partials.flex(row, space-evenly, flex-start);
        @include partials.setFrame(100%, fit-content);
        div {
            flex-grow: 1;
            @include partials.flex(row, center, center);
            padding-block: 1.5%;
            background-color: partials.$background-color;
            @include partials.setFrame(100%, fit-content);
            box-shadow: 0px 0px 0.3px black;
            font-family: partials.$primary-font-family;
            span {
                margin-left: 2%;
                font-size: 1.2em;
            }
        }
    }
}

.nav-on {
    .nav-wrapper {
        @include partials.flex(column, start, start);
        nav {
            animation: widthSet 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            div {
                animation: show 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }
        }
    }
}

@keyframes widthSet {
    from {
        width: 10%;
        to {
            width: 100%;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}