@use "./partials";
nav {
    @include partials.flex(column, space-evenly, flex-start);
    display: none;
    @include partials.setFrame(100%, 55vh);
    div {
        flex-grow: 1;
        @include partials.flex(column, center, center);
        background-color: partials.$background-color;
        @include partials.setFrame(100%, 100%);
        box-shadow: 0px 0px 0.3px black;
        font-family: partials.$primary-font-family;
        &:hover {
            background-color: wheat;
        }
        span {
            font-size: 1.2em;
        }
    }
}

.nav-on {
    nav {
        display: flex;
        animation: widthSet 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        div {
            animation: show 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
    }
}

@keyframes widthSet {
    from {
        width: 10%;
        to {
            width: 100%;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}