@use "./partials";
.settings {
    @include partials.setFrame(100%, fit-content);
    margin-top: 2%;
    section {
        @include partials.flex(row, start, center);
        margin-block: 1%;
        font-family: partials.$primary-font-family;
        span,
        label {
            cursor: pointer;
            min-width: 40%;
        }
        box-icon {
            margin-right: 1%;
        }
    }
}

.dark {
    box-icon {
        fill: rgb(114, 112, 44);
    }
}

//linear-gradient( 90deg, rgba(106, 106, 109, 1) 1%, rgba(107, 90, 60, 1) 17%, rgba(38, 38, 41, 1) 100%, rgba(0, 212, 255, 1) 100%);