@use "./partials";
.app {
    .top {
        padding-inline: 20%;
        padding-top: 3vh;
        @include partials.setFrame(100%, 50vh);
        div {
            @include partials.setFrame(200px, 200px);
            div {
                @include partials.setFrame(100px, 100px);
            }
        }
    }
    .top-nav-on {
        display: none;
    }
}